
body{

  margin: 0px;
}
/*
.space-maker{
  height: 20px;
} */
.top-container {

    background-color: #E14D2A;
    height: 120px;
    border-bottom: solid 15px;


}
.middle-container{
  background-color: white;
  padding-left: 400px;
  display: block;
  margin-top: 20px;

}
.bottom-container{
  background-color: blue;
}
.heading1{

  /*padding-left: 620px;
  padding-bottom: 20px;
  padding-top: 60px;*/
  margin: 0px;
  /*border-bottom: solid 20px;*/
  display: inline-block;
  font-style: oblique;
  position: relative;
  left: 500px;
  top: 20px;
  color: white;
}
.a1{
  margin: 0px;
  position: relative;
  left: 1200px;
  top: 40px;
  display: inline-block;
  font-size: 20px;
  text-decoration: none;
  color: white;

}
.a2{
  position: relative;
  left: 1250px;
  top: 40px;
  display: inline-block;
  font-size: 20px;
  text-decoration: none;
  color: white;
}
.a3{
  position: relative;
  left: 1300px;
  top: 40px;
  display: inline-block;
  font-size: 20px;
  text-decoration: none;
  color: white;

}
